<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Search for Classes</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/search.css" rel="stylesheet">
    <script src="../static/js/jquery-1.12.2.js"></script>
    <script src="../static/js/search.js"></script>

  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="schedule">Schedule</a></li>
            <li role="presentation" class="active"><a href="search">Search</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">UW Scheduler</h3>
      </div>

      <div class="jumbotron">
        <h2>Search for Classes</h2>
        <form class="form-signin">
          <label for="subject" class="sr-only">Subject</label>
          <input type="name" name="subject" id="subject" class="form-control" placeholder="Subject" required autofocus>
          <label for="catalogNo" class="sr-only">Catalog Number</label>
          <input type="name" name="catalogNo" id="catalogNo" class="form-control" placeholder="Catalog Number" required autofocus>
          <label for="startTime" class="sr-only">Start Time</label>
          <input type="startTime" name="startTime" id="startTime" class="form-control" placeholder="Start Time (00:00)" required>
          <label for="endTime" class="sr-only">End Time</label>
          <input type="endTime" name="endTime" id="endTime" class="form-control" placeholder="End Time (23:59)" required>
          <!---
          <div class="container">
            <div class="row">
                <label class="col-md-12 control-label" for="checkboxes">Day(s) of  Week</label>
            </div>
            <div class="row ">
              <div class="form-group centered">
                <label class="col-md-2.5 checkbox-inline" for="mon">
                  <input type="checkbox" name="check" id="mon" value="M">
                  Mo
                </label>
                <label class="col-md-2.5 checkbox-inline" for="tu">
                  <input type="checkbox" name="check" id="tu" value="T">
                  Tu
                </label>
                <label class="col-md-2.5 checkbox-inline" for="wed">
                  <input type="checkbox" name="check" id="wed" value="W">
                  We
                </label>
                <label class="col-md-2.5 checkbox-inline" for="thu">
                  <input type="checkbox" name="check" id="thu" value="Th">
                  Th
                </label>
                <label class="col-md-2.5 checkbox-inline" for="fri">
                  <input type="checkbox" name="check" id="fri" value="F">
                  Fr
                </label>
              </div>
            </div>
          </div>
          -->
          <button id="btnSearch" class="btn btn-lg btn-primary btn-block" type="button">Search</button>
        </form>
      </div>
      <div>
        <table class="courses-table" style="width:100%; display:none;" >
          <tr align="center">
            <th> Course Name </th>
            <th> Day </th>
            <th> Start Time </th>
            <th> End Time </th>
            <th> </th>
          </tr>
        </table>
      </div>
      <footer class="footer">
        <p>&copy; ABC 2016</p>
      </footer>

    </div>
  </body>
</html>